{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Pages</h1>
    <ul>
        <li><a href="/login">login</a></li>        
        <li><a href="/decodeur">decodeur</a></li>        
        <li><a href="/classement">classement</a></li>        
    </ul>
</div>
{% endblock %}
