{% extends 'base.html.twig' %}

{% block body %}
<section class="presentation">
    <img class="presentation__logo" src="{{ asset('img/logo.png') }}" alt="logo">
    <h1 class="presentation__list-name" data-aos="fade-in" data-aos-delay="50" data-aos-duration="1000">Mafiatech</h1>
    <h3 class="presentation__description" data-aos="fade-in" data-aos-delay="50" data-aos-duration="1000">Campagnes BDE 2021</h3>
</section>
<section class="storytelling">
    <div class="storytelling__box" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
        <h3 class="storytelling__introduction"><span class="color_red">C</span>iao jeune mafieux</h3>
        <p class="storytelling__text">Tu n'es pas sans savoir que les mafias règnent sur ce monde.</p>
        <p class="storytelling__text">En ces temps durs, plusieurs d'entre-elles se sont ralliées pour créer une grande famille.</p>
        <p class="storytelling__text">Ils sont armés, ils sont vicieux, ils sont magouilleurs...</p>
    </div>
</section>
<section class="famille">
    <div class="famille__slogan">
        <img src="{{ asset('img/jeton.png') }}" alt="jeton" class="famille__decoration" data-aos="fade-down" data-aos-anchor-placement="center-bottom" data-aos-duration="1000">
        <h2 class="famille__text">Surtout tu ne dois jamais deshonorer ta famille</h2>
    </div>
    <img src="{{ asset('img/photo.png') }}" alt="famille" class="famille__photo">
</section>
{% endblock %}
