{% extends 'base.html.twig' %}

{% block body %}
<section class="presentation">
    <img class="presentation__logo" src="{{ asset('img/logo.png') }}" alt="logo">
    <h1 class="presentation__list-name" data-aos="fade-in" data-aos-delay="50" data-aos-duration="1000">Mafiatech</h1>
    <h3 class="presentation__description" data-aos="fade-in" data-aos-delay="50" data-aos-duration="1000">Campagnes BDE 2021</h3>
</section>
<section class="storytelling">
    <iframe
        src="https://www.youtube.com/embed/xlcywgEMuGI?autoplay=1">
    </iframe>
</section>
<section class="famille">
    <div class="famille__slogan">
        <img src="{{ asset('img/jeton.png') }}" alt="jeton" class="famille__decoration" data-aos="fade-down" data-aos-anchor-placement="center-bottom" data-aos-duration="1000">
        <h2 class="famille__text">Surtout tu ne dois jamais deshonorer ta famille</h2>
    </div>
    <img src="{{ asset('img/photo.png') }}" alt="famille" class="famille__photo">
</section>
{% endblock %}
